attrs==21.4.0
certifi==2025.1.31
contourpy==1.3.1
click==8.1.2
click-plugins==1.1.1
cligj==0.7.2
cycler==0.12.1
DateTime==4.5
Fiona==1.8.21
fonttools==4.56.0
geopandas==1.0.1
kiwisolver==1.4.8
matplotlib==3.10.0
matplotlib-scalebar==0.9.0
munch==2.5.0
numpy==2.2.3
packaging==24.2
pandas==2.2.3
pathlib==1.0.1
Pillow==11.1.0
pip==25.0.1
pyarrow==19.0.1
pyogrio==0.10.0
pyparsing==3.2.1
pyproj==3.7.1
python-dateutil==2.9.0.post0
pytz==2025.1
Rtree==1.0.0
scipy==1.15.2
seaborn==0.13.2
shapely==2.0.7
six==1.17.0
tzdata==2025.1
zope.interface==5.4.0
